@media (max-width: 480px) {
	/* CSS Responsive table */
	table.ng-table, 
	table.ng-table thead, 
	table.ng-table tbody, 
	table.ng-table th, 
	table.ng-table td, 
	table.ng-table tr { display: block; }
	table.ng-table thead tr { position: absolute; top: -9999px; left: -9999px; }
	table.ng-table tr { border: 1px solid #ccc; margin-bottom: 10px; }
	table.ng-table td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%; }
	table.ng-table td:before {	position: absolute;	top: 6px; left: 6px; width: 40%; padding-right: 10px; text-align: left; word-wrap: break-word; }
	table.ng-table tr:first-child { position: absolute; top: -9999px; left: -9999px; }
	table.ng-table td:before { content: attr(data-content); height: 50px; }
	table.ng-table td.small-padding { padding-top: 5px; padding-bottom: 5px; }
	table.ng-table td.medium-padding { padding-top: 15px; padding-bottom: 15px; }
	table.ng-table td.large-padding { padding-top: 25px; padding-bottom: 25px; }
}