@media (max-width: 480px) {
    /* CSS Responsive table */
    table.responsive,
    table.responsive thead,
    table.responsive tbody,
    table.responsive th,
    table.responsive td,
    table.responsive tr {display:block;}
    table.responsive thead tr {position:absolute; top:-9999px; left:-9999px;}
    table.responsive tr {border:1px solid #ccc; margin-bottom:10px;}
    table.responsive td {border:none; border-bottom:1px solid #eee; position:relative; padding:12px 5%; width:100%;}
    table.responsive td::before,
    table.responsive td .td-text {float:left; width:50%;}
    table.responsive td::before {width:50%; padding-right:15px; text-align:left; content:attr(data-content); display:block;}
    table.responsive td::after {content:""; display:table; clear:both;}
}
